__pycache__/
*.py[cod]
*.pyo
*.bak-*
*.log

.secret_key
.env
.venv/
venv/

logs/
data_csv/

*.sqlite
*.sqlite3
*.db

*.wim
*.iso
*.msi
*.exe
*.zip
*.7z
*.cab

file/Lab/
file/apps/
install/python-*.exe
