__pycache__/
*.py[cod]
*.pyo
*.bak-*
*.log

.secret_key
.env
.venv/
venv/

logs/*
!logs/README.md

*.sqlite
*.sqlite3
*.db

*.wim
*.iso
*.msi
*.exe
!TaniumProvisionBundle/WinPE/scripts/TaniumOSD/TaniumOSDProgress_*.exe
*.zip
*.7z
*.cab

file/Lab/
file/apps/
install/python-*.exe
